openapi: 3.0.0

info:
  version: 1.0.0
  title: Account KPI Service API
  description: 'API for retrieving account KPI data.'

servers:
  - url: https://api.kuiper.so
    description: Account KPI Service API

paths:
  /account-kpi:
    get:
      tags:
        - Account KPI
      description: Retrieves KPI data for a specific account based on various filter criteria.
      summary: Retrieve account KPI data
      operationId: getAccountKPI
      parameters:
        - name: account_id
          in: query
          required: true
          schema:
            type: string
          description: Unique identifier for the account
        - name: kpi
          in: query
          type: string
          description: Key Performance Indicator
        - name: frequency
          in: query
          type: string
          description: Frequency of the KPI data (e.g., daily, monthly)
        - name: category
          in: query
          type: string
          description: Category of the KPI
        - name: unit
          in: query
          type: string
          description: Unit of measurement for the KPI
        - name: start_date
          in: query
          type: string
          description: Start date for filtering the data
        - name: end_date
          in: query
          type: string
          description: End date for filtering the data
        - name: combine_for_date
          in: query
          type: boolean
          description: Flag to combine data for the same dates
      responses:
        '200':
          description: Successfully returned account KPI data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountKPIData'
  /related-kpi:
    get:
      tags:
        - Related KPI
      description: Retrieves related KPI data for a specific account, filtering based on input criteria.
      summary: Retrieve related KPI data
      operationId: getRelatedKPI
      parameters:
        - name: account_id
          in: query
          required: true
          schema:
            type: string
          description: Unique identifier for the account
        - name: kpi
          in: query
          type: string
          description: Key Performance Indicator
        - name: frequency
          in: query
          type: string
          description: Frequency of the KPI data (e.g., daily, monthly)
        - name: category
          in: query
          type: string
          description: Category of the KPI
        - name: unit
          in: query
          type: string
          description: Unit of measurement for the KPI
        - name: start_date
          in: query
          type: string
          description: Start date for filtering the data
        - name: end_date
          in: query
          type: string
          description: End date for filtering the data
      responses:
        '200':
          description: Successfully returned related KPI data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelatedKPIData'

components:
  schemas:
    AccountKPIData:
      type: object
      properties: // Define your properties for AccountKPIData here
    RelatedKPIData:
      type: object
      properties: // Define your properties for RelatedKPIData here

